/* 로그인 화면 */
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

/* 로그인 폼 */
form {
    width: 400px; /* 폼의 최대 너비를 제한 */
    margin: 0 auto; /* 중앙 정렬 */
    text-align: center;
}

/* 입력 필드 그룹 */
.input-group {
    margin-bottom: 20px;
}

.input-label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;  /* 입력 필드 너비 100% */
    max-width: 400px;  /* 최대 너비 제한 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* 버튼 컨테이너 */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* 로그인 버튼 스타일링 */
.login-btn {
    width: 100px;
    padding: 10px;
    background-color: #035A3C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 40px; /* 푸터와 간격을 추가 */
}

/* 회원가입 버튼 스타일링 */
.signup-btn {
    width: 100px;
    padding: 10px;
    background-color: white;
    color: #035A3C;
    border: 1px solid #035A3C;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 40px; /* 푸터와 간격을 추가 */
}
