/* 메인 이미지 */
.main-slider-promotion {
    width: 100%;
    overflow: hidden; /* 슬라이더 외부의 이미지 숨기기 */
    position: relative;
}

.main-slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.main-slide {
    min-width: 100%; /* 슬라이드가 전체 화면을 차지하도록 */
}

.main-slide img {
    width: 100%;
    height: auto; /* 이미지 비율 유지 */
}

/* 전체상품 섹션 */
.all_item {
    padding: 20px 0px 20px; /* 위아래 섹션과 겹치치 않도록 간격 설정*/
    width: 100%;
    max-width: 900px; 
    margin-left: 190px;   
    margin-right: 190px;  
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.all_item_title{
    display:flex;   /* title과 리뷰쓰기 버튼 정렬 */
    justify-content: space-between;
    color: #025036;
}

/* 상품 UI 카드 정렬 */
.ui_grid{
    padding-bottom:20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.ui_grid__item {
    margin-right: 10px; /* 각 아이템 간격 추가 */
}

ul{
   padding-left: 0;
   list-style: none;
   display: flex;
   justify-content: center;
}

a{
   text-decoration: none;  
   color: black;
}

.category_info{
    display:flex;
    justify-content: center;
    color: #025036;
    font-weight: bold;
}

/* 상품 UI 카드 스타일 */
.ui_card__imgcover img{
    display: block;
    width: 160px; 
    height: 160px;
}

.ui_card__imgcover, .ui_card__info{
    overflow: hidden;
}

.ui_card__info{
    padding: 10px 5px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.ui_card{
    font-size: 14px;
    border: 1px solid #e6e6e6;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    height: 240px;
    width: 160px;
}

.ui_card:hover img{
    transform: scale(1.1);
    transition-duration: 1.5s;
}

.ui_card__info p{
    margin: 0;
}

.ui_card__title{
    white-space: normal;
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
}

.ui_card__price{
    font-weight: 700;
}