/* 마이페이지 화면 정렬*/
.wrap{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    padding: 10px;
}

.mypage{
    width: 100%;
    max-width: 600px; 
    padding: 20px;
    justify-content: center;
    align-items: center;
}

/* 더보기 버튼 스타일 */
.more_info_btn{
    margin-top: 25px;
    height: 30px;
    color: #035A3C;
    font-weight: 600;
}

/* 내 정보 섹션 */
.my_info{
    width: 100%;
}

.info_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info_header{
    border-bottom: 2px solid #004d2f;
    margin:0;
}

.info_container table{
    font-weight: 600;
    text-align: left;
    padding-bottom: 25px;
}

td{
    padding: 8px;
    border-bottom: 1px solid gainsboro;
}

.user_info{
    font-weight:500;
}

/* 구매내역 섹션 */
.purchase_history{
    padding: 20px 0px 20px; /* 위아래 섹션과 겹치치 않도록 간격 설정 */
}

.purchase_header{
    display:flex;   /* title과 더보기 버튼 정렬 */
    justify-content: space-between;
}

/* 상품 UI 카드 정렬 */
.ui_grid{
    display: inline-flex;
    justify-content: space-between;
}

ul{
   padding-left: 0;
   list-style: none;
   display: flex;
   justify-content: center;
}

a{
   text-decoration: none;  
   color: black;
}

/* 상품 UI 카드 스타일 */
.ui_card__imgcover img{
    display: block;
    width: 142px; 
    height: 142px;
}

.ui_card__imgcover, .ui_card__info{
    overflow: hidden;
}

.ui_card__info{
    padding: 10px 5px 10px;
    display: flex;
    flex-direction: column;
}

.ui_card__seller{
    padding-top: 5px;
    font-size: 13px;
    color: #686868;
}

.ui_grid ul{
    margin-top: 0;
}

.ui_card{
    font-size: 14px;
    margin-right:10px;
    border: 1px solid #e6e6e6;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    width: 142px;
    height: auto;
}

.ui_card:hover img{
    transform: scale(1.1);
    transition-duration: 1.5s;
}

/* 리뷰쓰기 버튼 스타일 */
.reg_btn{
    font-weight: 500;
    color: white;
    background-color: #035A3C;
    border: none;
    border-radius: 5px;
    width : 132px;
    height: 26px;
    padding: 1px 8px 1px;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reg_btn:hover{
    background-color: #004d2f;
}

.view_btn {
    font-weight: 500;
    color: white;
    background-color: #808080; /* 회색 배경 */
    border: none;
    border-radius: 5px;
    width: 132px;
    height: 26px;
    padding: 1px 8px 1px;
    margin-top: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view_btn:hover {
    background-color: #696969; /* hover 시 더 어두운 회색 */
}


/* 판매내역 섹션 */
.sales_header{
    display:flex;   /* title과 더보기 버튼 정렬 */
    justify-content: space-between;
}

.no_contents{
    color:gray;
    text-align: center;
    margin: 80px;
}

/* 위시리스트 섹션 */
.wish_header{
    display: flex;   /* title과 더보기 버튼 정렬 */
    justify-content: space-between;
}

.card_wrap{
    width: 105%;
    display: inline-flex;
}

.ui_card__info p{
    margin: 0;
}