/* 기본 설정 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 상품 등록 화면 */
.reg_items_form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    margin: 30px;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* 폼 요소 간의 간격 설정 */
form div, form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* 체크박스 그룹 스타일 */
.checkbox-group {
    display: flex;
    justify-content: space-between; /* 체크박스들이 수평으로 배열되게 설정 */
    flex-wrap: nowrap; /* 줄바꿈 없이 한 줄에 나열 */
}

.checkbox-group label {
    display: flex;
    align-items: center; /* 라벨과 체크박스를 수직으로 정렬 */
    margin-right: 10px; /* 체크박스 간 간격 */
    white-space: nowrap; /* 라벨이 줄바꿈되지 않도록 설정 */
}


.button-container {
    display: flex;
    justify-content: center;
}

/* Submit 버튼 스타일 */
.submit-btn {
    justify-content: center;
    background-color: #035A3C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}
