/* 기본 설정 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 상품 등록 화면 */
.reg_items_form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.form-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

/* 폼 요소 간의 간격 설정 */
form div {
    width: 100%;
    margin-bottom: 10px;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    background-color: #f0f0f0; /* 회색 배경색 */
    border: 1px solid #ccc; /* 경계선 */
    padding: 8px; /* 여백 */
    border-radius: 5px; /* 둥근 테두리 설정 (값을 조절해보세요) */
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

/* 체크박스 그룹 스타일 */
.checkbox-group {
    display: flex;
    justify-content: space-between; /* 체크박스들이 수평으로 배열되게 설정 */
    flex-wrap: nowrap; /* 줄바꿈 없이 한 줄에 나열 */
}

.checkbox-group label {
    display: flex;
    margin-right: 10px; /* 체크박스 간 간격 */
    white-space: nowrap; /* 라벨 줄바꿈 방지 */
}

.checkbox-group input[type="checkbox"] {
    transform: scale(1.3); /* 체크박스 크기를 확대 */
    margin-right: 10px; /* 라벨과 체크박스 간 간격 */
    position: relative;
    top: 3px;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Submit 버튼 스타일 */
.submit-btn {
    justify-content: center;
    background-color: #035A3C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}
