/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
}

/* 리뷰 상세 섹션 */
.review-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.product-name {
    color: #666;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 500;
}

.user-info {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 16px;
    line-height: 16px;
    margin: 10px 0px;

}

.label {
    color: #666;
}

.id-value {
    margin-left: 5px;
}

.rating {
    font-size: 1.5rem;
    color: #f5b301;
    text-align: left;
}

.divider {
    border: none;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

.review-image {
    text-align: center;
    margin-bottom: 20px;
}

.review-image img {
    width: 60%;
    height: auto;
    border-radius: 5px;
}

.no-image-placeholder {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    border-radius: 5px;
    color: #666;
    margin: 0 auto;
}

.review-content {
    margin-bottom: 20px;
    padding: 3px 20px;
}

.review-text {
    color: #333;
    text-align: start;
}

/* 제목 스타일 */
.review-title {
    overflow: clip; 
    margin-bottom: 3px;
}

/* 버튼 */
.button-container {
    text-align: right;
}

.btn {
    padding: 10px 20px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #ccc;
    color: #333;
}

.btn:hover {
    background-color: #bbb;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
