/*상품 조회 화면*/
.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px auto; /* 상하 마진은 20px, 좌우 마진은 자동으로 설정 */
    background-color: #f9f9f9;
    gap: 20px;
    max-width: 650px; /* 최대 너비를 설정하여 중앙에 고정 */
    width: 100%; /* 너비를 100%로 설정하여 화면 크기에 맞게 확장 */
}

.image-box {
    margin-right: 20px;
}

/* 상품 정보 사진 크기 조정*/ 
.product-image {
    width: 300px; /* 이미지의 너비를 300px로 고정 */
    height: auto; /* 비율을 유지하면서 높이를 자동으로 조정 */
}

.item-name {
    font-size: px; /* 원하는 글씨 크기 */
    font-weight: bold; /* 굵은 글씨 */
    color: #111715; /* 초록색 또는 원하는 색상 */
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.info-box {
    flex: 1; /* 정보 박스도 너비를 자유롭게 조정 */
    padding: 10px;
    background-color: #e6e6e6; /* 배경색 설정 */
    border-radius: 8px; /* 모서리 둥글게 */
}

.info-box ul {
    list-style-type: none; /* 목록 스타일 제거 */
    padding: 0;
    margin: 0;
}

.info-box li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* 상품 정보 부분 */
.product-description {
    margin: 20px auto;
    text-align: center; /* 중앙 정렬 */
    padding: 10px;
    background-color: #ffffff; /* 내부 배경색을 흰색으로 설정 */
    border: 1px solid #035A3C; /* 테두리를 초록색(#035A3C)으로 설정 */
    border-radius: 8px; /* 모서리를 둥글게 설정 */
    max-width: 650px; /* 최대 너비를 설정하여 중앙에 고정 */
    width: 100%; /* 너비를 100%로 설정하여 화면 크기에 맞게 확장 */
}