<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EwhaMarket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>

<body>
    <!--상단 배너-->
    <header class="header">
        <div class="header__container">
            <a href="/">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="EwhaMarket Logo" class="logo">
            </a>
            <div class="header__actions">
                <a href="/login" class="header__link">
                    <img src="{{ url_for('static', filename='image/login_icon.png') }}" alt="Login Icon" class="icon">
                    로그인/회원가입
                </a>
                <a href="/reg_item" class="header__link">
                    <img src="{{ url_for('static', filename='image/sell_icon.png') }}" alt="Sell Icon" class="icon">
                    판매하기
                </a>
            </div>
        </div>
    </header>
    
    <!--네비게이션바-->
    <nav class="navbar">
        <ul class="navbar__menu">
            <li>
                <a href="/category">카테고리</a>
                <ul class="submenu">
                    <li><a href="/category/stationery">문구</a></li>
                    <li><a href="/category/accessories">액세서리</a></li>
                    <li><a href="/category/digital">디지털</a></li>
                    <li><a href="/category/clothing">의류</a></li>
                    <li><a href="/category/homedeco">홈데코</a></li>
                </ul>
            
            </li>
            <li><a href="/reviews_list">베스트리뷰</a></li>
            <li><a href="/mypage">마이페이지</a></li>
        </ul>
        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i> </a>
    </nav>
    
    <section>
        {% block section %}
        
        {% endblock section %}
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="customer-service">
                <h4>고객센터</h4>
                <p>월-금: 10:00 - 18:00</p>
                <p>주말 및 공휴일 휴무</p>
            </div>
            <div class="company-info">
                <h4>회사정보</h4>
                <p>법인명(상호): 이회사의 이름</p>
                <p>대표자(성명): ㅇㅇㅇ</p>
                <p>전화: 010-1234-5678</p>
                <p>주소: 03760 서울특별시 서대문구 이화여대길 52 이화여자대학교</p>
            </div>
        </div>
    </footer>    

</body>
</html>   
