{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_detail.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
<script>
    <!-- 좋아요 기능 구현 -->
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{key}}/',
            data: {},
            success: function (response) {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y') {
                    $(".wishlist-btn").css("background-color", "#035A3C");
                    $(".wishlist-btn").css("color", "#fff");
                    $(".wishlist-btn").attr("onclick", "unlike()");
                }
                else {
                    $(".wishlist-btn").css("background-color", "#f5f5f5");
                    $(".wishlist-btn").css("color", "#333");
                    $(".wishlist-btn").attr("onclick", "like()");
                }
            }
        });
    }

    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{key}}/',
            data: {
                interested: "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }

    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{key}}/',
            data: {
                interested: "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });

    function buyItem() {
        $.ajax({
            type: 'POST',
            url: '/buy/{{ key }}/',
            success: function (response) {
                alert(response['msg']);
                window.location.href = "/purchase_history";
            },
            error: function (xhr) {
                alert('구매 중 오류가 발생했습니다. 다시 시도해주세요.');
                console.error(xhr.responseText);
            }
        });
    }
    $(document).on('click', '.buy-btn', function () {
        const itemKey = $(this).data('key');
        buyItem(itemKey);
    });
</script>

<div class="product-container">
    <div class="image-box">
        <img src="/static/image/{{data.img_path}}" class="product-image" />
    </div>

    <div class="info-box">
        <h1 class="item-name">{{ data.name }}</h1>
        <div class="separator"></div>
        <ul>
            <li>판매자: {{ data.seller }}</li>
            <li>카테고리: {{ data.category }}</li>
        </ul>
        <div class="separator"></div>
        <div class="price">{{ data.price }}원</div>

        <!-- 위시리스트와 구매하기 버튼 추가 -->
        <div class="buttons">
            <button class="wishlist-btn">위시리스트 ♥</button>
            <button class="buy-btn">구매하기</button>
        </div>
    </div>
</div>

<!-- 상품 정보 -->
<h2 class="info-title">상품 정보</h2>
<div class="product-description">
    <div class="product-info">
        <p>{{ data['info'].replace('\n', '<br>')|safe }}</p>
    </div>
</div>

<br><br>

<h2 class="review-title">상품 리뷰</h2>
<!-- 리뷰 박스 생성 -->
<div class="reviews">

{% if reviews %}
    <!-- 각 리뷰마다 review-box 생성 -->
    {% for review in reviews %}
    <div class="review-box">
        <div class="review-item">
            <a href="{{ url_for('view_review_detail', review_id=review.review_id) }}" class="review-link"
                style="text-decoration: none; color: inherit;">
                <div class="review-title">
                    <span style="font-weight: bold;">{{ review.review_title }}</span>
                </div>
                <div class="review-user">
                    <span style="color: #666; font-size: 90%;">닉네임: </span>
                    {{ review.review_user }}
                </div>
                <div class="rating">
                    {% for i in range(review.review_rate|default(0)) %}
                    ★
                    {% endfor %}
                    {% for i in range(5 - review.review_rate|default(0)) %}
                    ☆
                    {% endfor %}
                </div>
            </a>
            <div class="separator_review"></div>
            <div class="review-text">
                {% if review.review_image %}
                <div class="review-mini-image">
                    <img src="/static/image/{{ review.review_image }}" alt="Review Image">
                </div>
                {% endif %}
                <p>{{ review.review_text }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>상품에 달린 리뷰가 없습니다.</p>
    {% endif %}
</div>


{% endblock section %}