{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/item_detail.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="product-container">
    <div class="image-box">
        <img src="{{ img_path }}" class="product-image" />
    </div>

    <div class="info-box">
        <h1 class="item-name">{{ data.name }}</h1>
        <div class="separator"></div>
        <ul>
            <li>판매자: {{ data.seller }}</li>
            <li>카테고리: {{ data.category }}</li>
        </ul>
        <div class="separator"></div>
        <div class="price">{{ data.price }}원</div>

        <!-- 위시리스트와 구매하기 버튼 추가 -->
        <div class="buttons">
            <button class="wishlist-btn">위시리스트 ♥</button>
            <button class="buy-btn">구매하기</button>
        </div>
    </div>
</div>

<!-- 상품 정보 -->
<h2 class="info-title">상품 정보</h2>
<div class="product-description">
    <div class="product-info">
        <p>{{ data.info }}</p>
    </div>
</div>

<!-- 리뷰 박스 생성 -->
<div class="reviews">
    <h2 class="review-title">상품에 달린 리뷰</h2>
    <div class="review-box">
        <div class="review-item">
            <strong>아이디: 예지</strong>
            <div class="rating">
                ★★★★★
            </div>
            <div class="review-text">구매 상품: [사계절 햇빛차단☀️] 시어링 팔토시 핸드워머</div>
            <div class="separator"></div>
            <div class="review-text">
                <div class="review-mini-image">
                    <img src="{{ url_for('static', filename='image/sample.jpg') }}" alt="sample-review">
                </div>
                <p>소재가 보들보들해서 기분이 좋고 마감도 탄탄해요!<br>여름에 반팔 입거나 봄가을 환절기 때 잘 착용할 것 같아요 ^ㅇ^</p>
            </div>
        </div>
    </div>
</div>
{% endblock section %}