{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

<!-- 프로모션 영역 -->
<div class="mainpage">
    <div class="main-slider-promotion">
        <div class="main-slider">
            <div class="main-slide">
                <img src="static/image/main.png" alt="Slide 1">
            </div>
            <div class="main-slide">
                <img src="static/image/main2.png" alt="Slide 2">
            </div>
        </div>
    </div>

    <!--전체상품-->
    <div class="all_item">
        <div class="all_item_title">
            <h2>카테고리별 최신 상품</h2>
        </div>
        {% if latest_items %}
        <div class="ui_grid">
            <ul class="ui_grid__cols--5">
                {% for item in latest_items %}
                <li class="ui_grid__item">
                    <div class="by_category">
                        <a href="{{ url_for('view_list', page=0, category=item['data']['category']) }}">
                                <p class="category_info">{{item['data']['category']}}</p>
                        </a>
                        <div class="ui_card">
                            <a href="/view_detail/{{ item['key'] }}">

                            <div class="ui_card__imgcover">
                                <img src="/static/image/{{ item['data']['img_path'] }}" alt="product-image">
                            </div>
                            <div class="ui_card__info">
                                <p class="ui_card__title">{{ item['data']['name'] }}</p>
                                <p class="ui_card__price">{{ item['data']['price'] }}원</p>
                            </div>
                        </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="no_contents">등록된 상품이 없습니다.</p>
        {% endif %}
    </div>
</div>
{% endblock %}