{% extends "index.html" %}
{% block section %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage.css') }}">

{% with mesg = get_flashed_messages() %}
    {% if mesg != [] %}
        <script>alert("{{ mesg[0] }}")</script>
    {% endif %}
{% endwith %}

<div class="wrap">
<div class="mypage">
    <div class="my_info">
        <div class="info_container">
            <div class="info_header">
                <h2>내 정보</h2>
            </div>
            <table>
                <tr>
                    <td>ID</td>
                    <td class="user_info">{{ info.id }}</td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td class="user_info">{{ info.name }}</td>
                </tr>
                <tr>
                    <td>닉네임</td>
                    <td class="user_info">{{ info.nickname }}</td>
                </tr>
                <tr>
                    <td>전화</td>
                    <td class="user_info">{{ info.phone }}</td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td class="user_info">{{ info.email }}@ewhain.net</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="purchase-history">
        <div class="purchase_header">
            <h2>구매내역</h2>
            {% if total_purchase > 4 %}
            <a href="/purchase_history" class="more_info_btn">더보기 ></a>
            {% endif %}
        </div>
        {% if purchases %}
        <div class="ui_grid">
            <ul class="ui_grid__cols--4">
                {% for key, value in purchases.items() %}
                <li class="ui_grid__item">
                        <div class="ui_card">
                            <div class="ui_card__imgcover">
                                <a href="/view_detail/{{ value.item_id }}">
                                  <img src="/static/image/{{ value.item_image }}" alt="product-image">
                                </a>
                              </div>
                            <div class="ui_card__info">
                                <p class="ui_card__title">{{ value.item_name }}</p>
                                {% if value.review_written %}
                                <button type="button" class="view_btn" onclick="location.href='/view_review_detail/{{ value.review_id }}/';">작성한 리뷰 보기</button>
                                {% else %}
                                <button type="button" class="reg_btn" onclick="location.href='/reg_review/{{ key }}';">리뷰 쓰기</button>
                                {% endif %}
                            </div>
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="no_contents">구매내역이 없습니다.</p>
        {% endif %}
    </div>
    <div class="sales_history">
        <div class="sales_header">
            <h2>판매내역</h2>
            {% if total_sales > 4 %}
            <a href="sales_history" class="more_info_btn">더보기 ></a>
            {% endif %}
        </div>
        {% if sales %}
        <div class="ui_grid">
            <ul class="ui_grid__cols--4">
                {% for key, value in sales.items() %}
                <li class="ui_grid__item">
                    <a href="/view_detail/{{ key }}/">
                        <div class="ui_card">
                            <div class="ui_card__imgcover">
                                    <img src="/static/image/{{ value.item_image }}" alt="product-image">
                            </div>
                            <div class="ui_card__info">
                                <p class="ui_card__title">{{ value.item_name }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="no_contents">판매내역이 없습니다.</p>
        {% endif %}
    </div>
    <div class="wishlist">
        <div class="wish_header">
            <h2>위시리스트</h2>
            {% if total_wish > 4 %}
            <a href="/wishlist" class="more_info_btn">더보기 ></a>
            {% endif %}
        </div>
        
        {% if total_wish > 0 %}
        <div class="ui_grid">
            <ul class="ui_grid__cols--4">
                {% for key, value in wishes.items() %}
                <li class="ui_grid__item">
                    <a href="/view_detail/{{ key }}/">
                        <div class="ui_card">
                            <div class="ui_card__imgcover">
                                <img src="/static/image/{{ value.item_image }}" alt="product-image">
                            </div>
                            <div class="ui_card__info">
                                <p class="ui_card__title">{{ value.item_name }}</p>
                                <p class="ui_card__seller">{{ value.item_seller }}</p>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="no_contents">위시리스트에 담긴 상품이 없습니다.</p>
        {% endif %}
    </div>
    
</div>
</div>
{% endblock section %}