{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_item.css') }}">
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="reg_items_form">
    <form action="/submit_item_post" method="post" enctype="multipart/form-data">
        <h2 class="form-title">상품 판매하기</h2>
        <div>
            <label for="name">상품 이름 </label>
                <textarea name="name" id="name" rows="1" cols="50" required></textarea><br><br>
        </div>
        <div>
            <label for="seller">판매자ID </label>
            <input type="text" name="seller" id="seller" required><br><br>
        </div>
        <div>
            <label for="price">가격(원) </label>
            <input type="number" name="price" id="price" min="0" required><br><br>
        </div>
        <div>
            <label for="info">상품 정보 </label><br>
            <textarea name="info" id="info" rows="5" cols="50" required></textarea><br><br>
        </div>
        <div>
            <label for="category">카테고리</label><br>
            <div class="checkbox-group">
                <label><input type="checkbox" name="category" value="악세서리"> 악세서리</label>
                <label><input type="checkbox" name="category" value="홈데코"> 홈데코</label>
                <label><input type="checkbox" name="category" value="문구"> 문구</label>
                <label><input type="checkbox" name="category" value="의류"> 의류</label>
                <label><input type="checkbox" name="category" value="디지털"> 디지털</label>
            </div>
            <br><br>
        </div>

        <div>
            <label for="img">대표사진 </label>
            <input type="file" name="file" /><br><br>
        </div>
        <div class="button-container">
            <input type="submit" value="판매 상품 등록" class="submit-btn">
        </div>
    </form>
</div>
{% endblock section %}