{% extends "index.html" %}

{% block section %}
<form action="submit_item.html" method="get">
    <div><br><br>
        <label for="name">상품 이름: </label>
        <input type="text" name="name" id="name" required><br><br>
    </div>
    <div>
        <label for="seller"> 판매자 ID: </label>
        <input type="text" name="seller" id="seller" required><br><br>
    </div>
    <div>
        <label for="price"> 가격: </label>
        <input type="text" name="price" id="price" required><br><br>
    </div>
    <div>
        <label for="category">카테고리: </label>
        <br>
        <select id="category" name="category">
            <option value="Accessory" selected> 악세사리 </option>
            <option value="Stationery"> 문구류 </option>
            <option value="Clothes"> 의류 </option>
            <option value="Digital"> 디지털 </option>
            <option value="Homedeco"> 홈데코 </option>
        </select><br><br>
    </div>
    <div>
        <input type="submit" value="Submit!"><br><br>
    </div>
</form>
{% endblock section %}
