{%extends "index.html"%}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reg_review.css') }}">

<div class="review-container">
    <h2>리뷰 작성하기</h2>
    
    <form class="mb-3" name="myform" id="myform" method="post" action="/reg_review_submit" enctype="multipart/form-data">
        <input type="hidden" name="purchase_id" value="{{ purchase.get('purchase_id', '') }}">
        <input type="hidden" name="item_id" value="{{ purchase.get('item_id', '') }}">
        <input class="product-name" type="text" name="name" id="name" value="{{ item.get('name', '') }}">

        <br>
        <fieldset>
        <!-- 별점 선택 -->
            <span>별점: </span>
            <div class="star-rating">
                <input type="radio" id="rate5" name="reviewStar" value="5" onclick="updateRating(this.value)"><label for="rate5">★</label>
                <input type="radio" id="rate4" name="reviewStar" value="4" onclick="updateRating(this.value)"><label for="rate4">★</label>
                <input type="radio" id="rate3" name="reviewStar" value="3" onclick="updateRating(this.value)"><label for="rate3">★</label>
                <input type="radio" id="rate2" name="reviewStar" value="2" onclick="updateRating(this.value)"><label for="rate2">★</label>
                <input type="radio" id="rate1" name="reviewStar" value="1" onclick="updateRating(this.value)"><label for="rate1">★</label>
            </div>
            <span>
                <span id="selected-rating">0</span>
                / 5
            </span>
        </fieldset>

        <script>
            function updateRating(value) {
                document.getElementById('selected-rating').textContent = value;
            }
        </script>

        <!-- 리뷰 내용 -->
        <div>
            <textarea class="col-auto form-control" id="review-text" name="reviewContents" rows="5" placeholder="리뷰를 작성해주세요"></textarea>
        </div>

        <!-- 리뷰 사진 -->
        <div class="photo-section">
            <label for="file">사진 첨부</label>
            <input id="file" name="file" type="file" />
        </div>
        
        <!-- 버튼 이동 -->
        <div class="button-container">
            <input type="button" class="btn previous" value="이전으로">
            <input type="submit" class="btn submit" value="등록">
        </div>
    
    </form>
</div>

{% endblock section %}