{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/review_detail.css') }}">

<div class="review-container">
    <h2>리뷰 상세</h2>
    <a href="/view_detail/{{ data.item_id }}" style="text-decoration: none;">
        <div class="product-name">{{ data.name }}</div>
    </a>
    <div class="review-user-info">
        <div class="review-title">
            <span class="label">제목 :</span>
            <span class="title-value">{{ data.title }}</span>
        </div>
        <div class="user-info">
            <span class="label">닉네임 :</span>
            <span class="id-value">{{ data.user_nickname }}</span>
        </div>

        <div class="rating">
            {% for i in range(data.rate|default(0)) %}
            ★
            {% endfor %}
            {% for i in range(5 - data.rate|default(0)) %}
            ☆
            {% endfor %}
        </div>
    </div>

    <hr class="divider">

    <div class="review-image">
        {% if data.img_path %}
        <img src="{{ url_for('static', filename='image/' ~ data.img_path) }}" alt="리뷰 이미지">
        {% else %}
        <div class="no-image-placeholder">
            이미지가 첨부되지 않았습니다.
        </div>
        {% endif %}
    </div>

    <hr class="divider">

    <div class="review-content">
        <p class="review-text">{{ data.review if data.review else '내용 없음'}}</p>
    </div>

    <hr class="divider">

    <div class="button-container">
        <input type="button" class="btn previous" value="이전으로" onclick="window.history.back();">
    </div>
</div>

{% endblock section %}