{% extends "index.html" %}
{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}" />

<div class="list-container">
  <h2 class="heading">리뷰 모아보기</h2>
  <div class="item-grid">
    {% if reviews %}
    {% for key, value in reviews.items() %}
    <a href="/view_review_detail/{{ key }}" class="item-image">
      <div class="item-card">
        <img src="{{ url_for('static', filename='image/' ~ value.img_path) }}" alt="리뷰 사진" />

        <div class="item-details">
          <p class="item-title">{{ value.title }}</p>
          <div class="rating">
            <!-- 평점을 별 형태로 표시 -->
            {% for i in range(value.rate|default(0)) %}
            ★
            {% endfor %}
            {% for i in range(5 - value.rate|default(0)) %}
            ☆
            {% endfor %}
        </div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% else %}
    <p>등록된 리뷰가 없습니다.</p>
    {% endif %}
  </div>
</div>

<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
  <div class="page-nation">
    <ul>
      {% for i in range(page_count) %}
      <a href="{{ url_for('view_reviews_list', page=i) }}" color="black">{{ i+1 }}</a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock section %}