{% extends "index.html" %}
{% block section %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/reviews_list.css') }}"
/>

<div class="review-list-container">
  <h2 class="heading">리뷰 모아보기</h2>
  <div class="ui_grid">
    {% if reviews %}
      {% for key, value in reviews.items() %}
      <div class="ui_grid__item">
        <div class="ui_card">
          <div class="ui_card__imgcover">
            <img
              src="{{ url_for('static', filename='image/' ~ value.img_path) }}"
              alt="리뷰 사진"
            />
          </div>
          <div class="ui_card__info">
            <p class="ui_card__title">{{ value.title }}</p>
            <button
              class="more-button"
              onclick="location.href='/view_review_detail/{{ key }}';"
            >
              더보기
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>등록된 리뷰가 없습니다.</p>
    {% endif %}
  </div>
</div>

<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
  <div class="page-nation">
    <ul>
      {% for i in range(page_count) %}
      <li>
        <a href="{{ url_for('view_reviews_list', page=i) }}" color="black">{{ i }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock section %}
