{% extends "index.html" %}

{% block section %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/sales_history.css') }}">

<div class="sales-history-container">
  <h2 class="heading">판매 내역</h2>
  <div class="ui_grid">
    {% if sales %}
    {% for key, value in sales.items() %}
    <li class="ui_grid__item">
        <a href="/view_detail/{{ key }}/">
            <div class="ui_card">
                <div class="ui_card__imgcover">
                        <img src="/static/image/{{ value.item_image }}" alt="product-image">
                </div>
                <div class="ui_card__info">
                    <p class="ui_card__title">{{ value.item_name }}</p>
                    <p class="ui_card__seller">{{ value.item_seller }}</p>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
  </div>
</div>

<!-- 페이지네이션을 위한 코드 시작 -->
<div class="page-wrap">
  <div class="page-nation">
    <ul>
      <li>
      {% for i in range(page_count) %}
        <a href="{{ url_for('sales_history', page=i) }}" color="black">{{ i+1 }}</a>
      {% endfor %}
      </li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock section %}